@model BloodBankITI.Models.donorinsertform
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />
<head>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="~/Scripts/ngo.js"></script>
    @*<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">*@
  
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>

</head>

<div class="render">

    @*<form action="" method="post" novalidate="novalidate">
        <div class="form-group">
            @Html.DisplayNameFor(p => p.Donor.DID)
            @Html.DisplayFor(p => p.Donor.DID)
            <input type="hidden" name="DID" value=@Model.Donor.DID>
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(p => p.Donor.Fname)
            @Html.DisplayFor(p => p.Donor.Fname)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(p => p.Donor.Lname)
            @Html.DisplayFor(p => p.Donor.Lname)
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(p => p.Donor.BID)
            <select name="BID">
                <option value="0">Not Set</option>
                @foreach (var item in Model.BloodTypesResults)
                {
                    <option value=@item.BID>@item.Type</option>
                }
            </select>
            @Html.ValidationMessageFor(p => p.Donor.BID, "", new { @class = "text-danger" })
        </div>

        <div>
            <input type="submit" value="submit" />
        </div>
    </form>*@
    <div class="container white z-depth-2">
        <div class="card-panel #b71c1c red darken-4"><h4 style="color:aliceblue;text-align:center;font-family:'Myriad عربي';">  تعديل فصيلة دم المتبرع</h4>  </div>
        <form method="POST" action="" novalidate="novalidate">
            <div class="form-container">
                @*<div class="row">
                    <div class="input-field col s12">
                        <input id="" type="number" class="validate" name="Donor.DID" style="text-align:right">
                        <label class="right-align">رقم المتبرع   </label>
                        <input type="hidden" name="DID" value=@Model.Donor.DID>
                    </div>
                </div>*@
                <div class="row">
                    <div class="input-field col s12">
                        <input disabled value="@Model.Donor.DID"  id="disabled" type="text" class="validate" name="Donor.DID" style="text-align:left">
                        <label style="margin-right:-325px;">رقم المتبرع</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input disabled value="@Model.Donor.Fname" id="disabled" type="text" name="Donor.Fname" style="text-align:left">
                        <label> الاسم الاول </label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input disabled value="@Model.Donor.Lname" id="disabled" type="text"  name="Donor.Lname" style="text-align:left">
                        <label> الاسم الثانى</label>
                    </div>
                </div>
                @*<div class="row" style="float:right;">
                    <div class="input-field col s12">
                        <div class="mdl-select mdl-js-select mdl-select--floating-label">
                            <select class="mdl-select__input" id="professsion" name="BID">
                                <option value="0">Not Set</option>
                                @foreach (var item in Model.BloodTypesResults)
                                {
                                    <option value=@item.BID>@item.Type</option>
                                }
                            </select>
                            <label class="mdl-select__label" for="professsion"  style="margin-right:-100px;">نوع فصيلة الدم </label>
                            <span class="mdl-textfield__error">Number required!</span>

                        </div>
                    </div>
                </div>*@
                <div class="row">
                    <div class="input-field col s12">
                        <div class="mdl-select mdl-js-select mdl-select--floating-label">
                            <label  style="margin-right:-310px;">نوع فصيلة الدم  </label>
                        </div>
                        <div dir="rtl">
                            <select class="mdl-select__input" id="professsion" name="Donor.BID">
                                <option value="0">إختـــر ... </option>

                                @foreach (var item in Model.BloodTypesResults)
                                {

                                    <option value=@item.BID>@item.Type</option>
                                }

                            </select>
                        </div>
                        @*@Html.ValidationMessageFor(model => model.Donor.BID)*@
                    </div>

                </div>

                <center>
                    <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">تعديل </button>
                </center>
            </div>
        </form>
        </div>
    </div>
