@model IEnumerable<BloodBankITI.Models.GetPartnersDonor_Result>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="render">
    <h4 > تحديد فصيلة الدم للمتبرعين </h4>
    <hr />
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th> فصيلة الدم</th>
                <th> رقم المتبرع</th>
                <th>الاسم الثاني   </th>
                <th>الاسم الأول   </th>
                
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink("إدخال فصيلة الدم", "Edit", new { Id = item.DID })</td>
                    <td>@item.DID</td>
                   
                    <td>@item.Lname</td>
                    <td>@item.Fname</td>
                </tr>
            }
        </table>
    </div>
    <center>
        @Html.ActionLink("الإحصائيات", "Statistics", null, new { @class = "btn waves-effect waves-light red darken-4" })
    </center>

</div>