@model IEnumerable<BloodBankITI.Models.GetPartnersDonor_Result>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="render">
    <h4 style="font-family:'Myriad عربي';" > تحديد فصيلة الدم للمتبرعين </h4>
    <hr />
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped" style="text-align:center;background-color:wheat;">
            <tr>
                @*<th>@Html.DisplayNameFor(d => d.DID)</th>
                    <th>@Html.DisplayNameFor(d => d.Fname)</th>
                    <th>@Html.DisplayNameFor(d => d.Lname)</th>
                    <th>أدخال فصيلة الدم</th>*@
<<<<<<< HEAD
                <th> رقم المتبرع  </th>
=======
                <th> رقم المتبرع</th>
>>>>>>> origin/master
                <th>الاسم الثانى  </th>
                <th>الاسم الاول   </th>
                <th> فصيلة الدم</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DID</td>
                    <td>@item.Fname</td>
                    <td>@item.Lname</td>
                    <td>@Html.ActionLink("إدخال فصيلة الدم", "Edit", new { Id = item.DID })</td>
                </tr>
            }
        </table>
    </div>
    <center>
        @Html.ActionLink("الإحصائيات", "Statistics", null, new { @class = "btn waves-effect waves-light red darken-4" })
    </center>

</div>