@model System.Collections.Generic.List<BloodBankITI.Models.Admins_selectt_Result>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="render">
    <h4 style="font-size:45px; color:black; font-family:'Myriad عربي'; text-align:right;">المشرفون</h4>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" style="background-color:wheat;margin-right:inherit; width:850px;">
            <tr>
                <th></th>
                <th style="text-align:right; font-size:25px;color:firebrick; font-family:'Myriad عربي'">الإسم</th>
            </tr>

            @foreach (var a in Model)
            {
                <tr>
                    <td style="text-align:center;font-family:'Myriad عربي';font-size:20px;">@Html.ActionLink("حذف", "AdminDelete", new { id = a.AID })</td>
                    <td style="text-align:center;font-family:'Myriad عربي';font-size:20px;">@(a.Fname + " " + a.Lname) </td>

                </tr>
            }

        </table>
        </div>
        <center>
            @*<a href="http://localhost:7508/Home/Index"><button class="btn waves-effect waves-light red darken-4" type="reset" name="action">الرجوع للرئيسية</button></a>
            <a href="http://localhost:7508/Admin/AdminInsert"><button class="btn waves-effect waves-light red darken-4" type="submit" name="action">إضافة</button></a>*@

            <p style="text-align:left;margin-left: 256px; margin-bottom:137px;">@Html.ActionLink("العودة للصفحة الرئيسية", "Index", null, new { @class = "btn waves-effect waves-light red darken-4" })
            @Html.ActionLink("اإضافة", "AdminInsert", null, new { @class = "btn waves-effect waves-light red darken-4" })</p>
            


        </center>

        @*@Html.ActionLink("Insert New Admin", "AdminInsert") <br />
            @Html.ActionLink("Back To Home", "Index")*@
    </div>
