@model System.Collections.Generic.List<BloodBankITI.Models.GetStatestics_Result>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />
<div class="render">
    <h4>الإحصائيات الكلية</h4>
    <hr />
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" style="background-color:wheat;margin-right:inherit; width:850px;">
            <tr >
                
                <td>تاريخ التحليل</td>
                <td>اسم المعمل</td>
                <td>اسم المتبرع</td>
                <td>فصيلةالدم</td>
                <td>مسلسل</td>
            </tr>

            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.Insert_Date</td>
                    <td>@s.Name</td>
                    <td>@(s.Fname + " " + s.Lname)</td>
                    <td>@s.Type</td>
                    <td>@s.SID</td>
                </tr>
            }
        </table>
        </div>

    <center>
        <p style="text-align:left;margin-left: 256px; margin-bottom:359px;">@Html.ActionLink("العودة للوحة التحكم ", "Index", null, new { @class = "btn waves-effect waves-light red darken-4" })
        @Html.ActionLink("العودة للإحصائيات", "PartnersStatistics", null, new { @class = "btn waves-effect waves-light red darken-4" })</p>
    </center>
   
    </div>
