@model IEnumerable<BloodBankITI.Models.Donors_select_Result>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />
<div class="render">
    <h4 style="color:black; text-align:right;">المتبــــرعون</h4>
    <hr />
    <table class="table table-bordered table-striped table-hover" style="background-color:wheat;margin-right:inherit; width:850px;">
        <tr>
            <th> </th>
            <th>تاريخ آخر تبرع</th>
            <th>(يستطيع التبرع(نعم/لا</th>
            <th>الموقع</th>
            <th>المدينة</th>
            <th>فصيلة الدم</th>
            <th>التليفون</th>
            <th>النوع</th>
            <th>الاسم كاملا</th>

        </tr>
        @foreach (var donor in Model)
        {
            <tr>
                <td>@Html.ActionLink("حذف", "DeleteDonor", new { DID = donor.DID })</td>
                <td>@donor.DonationDate</td>
                @if (donor.Pending != true)
                {
                    <td>نعم</td>
                }
                else
                {
                    <td>لا</td>
                }
                <td>@donor.locationName</td>
                <td>@donor.CityName</td>
                <td>@donor.Type</td>
                <td>@donor.Phone</td>
                <td>@donor.DonorGender</td>
                <td>@(donor.Fname + " " + donor.Lname)</td>   
            </tr>
        }
    </table>
     <p style="text-align:center;">@Html.ActionLink("العودة  للوحة التحكم", "Index", null, new { @class = "btn waves-effect waves-light red darken-4" })</p>

</div>
