@model IEnumerable<BloodBankITI.Models.Donors_select_Result>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />
<div class="render">
    <h4 style="font-size:30px;font-family:'Myriad عربي'; text-align:right;">:المتبرعون</h4>
    <table class="table table-bordered table-striped table-hover" style="background-color:wheat;margin-right:inherit; width:850px;">
        <tr>
            <th> </th>
            <th style="font-family:'Myriad عربي';font-size:20px; text-align:right;">تاريخ آخر تبرع</th>
            <th style="font-family:'Myriad عربي';font-size:20px; text-align:center;">(يستطيع التبرع(نعم/لا</th>
            <th style="font-family:'Myriad عربي';font-size:20px; text-align:center;">الموقع</th>
            <th style="font-family:'Myriad عربي'; font-size:20px; text-align:center;">المدينة</th>
            <th style="font-family:'Myriad عربي';font-size:20px; text-align:center;">فصيلة الدم</th>
            <th style="font-family:'Myriad عربي';font-size:20px; text-align:center;">التليفون</th>
            <th style="font-family:'Myriad عربي';font-size:20px; text-align:center;">النوع</th>
            <th style="font-family:'Myriad عربي';font-size:20px; text-align:center;">الاسم كاملا</th>

        </tr>
        @foreach (var donor in Model)
        {
            <tr>
                <td>@Html.ActionLink("حذف", "DeleteDonor", new { DID = donor.DID })</td>
                <td>@donor.DonationDate</td>
                @if (donor.Pending != true)
                {
                    <td>نعم</td>
                }
                else
                {
                    <td>لا</td>
                }
                <td>@donor.locationName</td>
                <td>@donor.CityName</td>
                <td>@donor.Type</td>
                <td>@donor.Phone</td>
                <td>@donor.DonorGender</td>
                <td>@(donor.Fname + " " + donor.Lname)</td>   
            </tr>
        }
    </table>
     <p style="text-align:center;">@Html.ActionLink("العودة للصفحة الرئيسية", "Index", null, new { @class = "btn waves-effect waves-light red darken-4" })</p>

</div>
