@model System.Collections.Generic.List<BloodBankITI.Models.DonorByBid_Result>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />
<div class="render">
    <h4 style="color:black;text-align:right;">@(Model.Select(a => a.Type).FirstOrDefault()) المتبرعون من فصيلة</h4>
    <hr />
    <table class="table table-bordered table-striped table-hover" style="background-color:wheat;margin-right:inherit; width:850px;">
        <tr>
            <th>آخر تاريخ للتبرع</th>
            <th>(يستطيع التبرع (نعم-لا</th>
            <th>الموقع</th>
            <th>المدينة</th>
            <th>التليفون</th>
            <th>النوع</th>
            <th>الاسم كاملا</th>
            
        </tr>
        @foreach (var donor in Model)
        {
            <tr>
                <td>@donor.DonationDate</td>
                
                @if (donor.Pending != true)
                {
                    <td>نعم</td>
                }
                else
                {
                    <td>لا</td>
                }
                <td>@donor.locationName</td>
                <td>@donor.CityName</td>
                <td>@donor.Phone</td>
                <td>@donor.DonorGender</td>
                <td>@(donor.Fname + " " + donor.Lname)</td>
               
               
                
               
                
            </tr>
        }
    </table>
    <p style="text-align:center; margin-bottom:411px;">@Html.ActionLink("عرض فصائل الدم", "BloodTypes", null, new { @class = "btn waves-effect waves-light red darken-4" })</p>

</div>