
@model List<BloodBankITI.Models.EmergencySelectAll_Result>
@{
    ViewBag.Title = "Emergency";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="render">
    <h4 style="font-size:40px;text-align:center; font-family:'Myriad عربي';">الطوارئ</h4>

    @foreach (var id in Model.Select(d => d.CID).Distinct())
    {
        <h4 style="text-align:right; font-family:'Myriad عربي';font-size:30px;">@(Model.Where(i => i.CID == id).FirstOrDefault().CityName)</h4>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th style="font-size:25px;">تعديل</th> 
                <th style="font-size:25px;">اليوم</th>
                <th style="font-size:25px;">اسم المستشفى</th>
             
            </tr>
            @foreach (var item in Model.Where(i => i.CID == id))
            {
                <tr>
                    <td style="text-align:center; font-family:'Myriad عربي';font-size:20px;">@Html.ActionLink("تعديل", "EmergencyEdit", new { did = item.DayID, cid = item.CID })</td>
                    <td style="text-align:center;font-family:'Myriad عربي';font-size:20px;">@item.Day</td>
                    <td style="text-align:center;font-family:'Myriad عربي';font-size:20px;">@item.Name</td>
                  
                </tr>
            }
        </table>
    }
    <p style="text-align:center; margin-bottom:359px;">@Html.ActionLink("العودة للصفحة الرئيسية", "Index", null, new { @class = "btn waves-effect waves-light red darken-4" })</p>    @*<p>@Html.ActionLink("العودة للصفحة الرئيسية", "Index")</p>*@
</div>
