
@model List<BloodBankITI.Models.EmergencySelectAll_Result>
@{
    ViewBag.Title = "Emergency";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="render">
    <h4>الطــــوارئ</h4>
    <hr />
    @foreach (var id in Model.Select(d => d.CID).Distinct())
    {
        <h4 style="text-align:right;">@(Model.Where(i => i.CID == id).FirstOrDefault().CityName)</h4>
        <table class="table table-bordered table-hover table-striped" style="background-color:wheat;margin-right:inherit; width:850px;">
            <tr>
                <th>تعديل</th> 
                <th>اليوم</th>
                <th style="font-size:22px;">اسم المستشفى</th>
             
            </tr>
            @foreach (var item in Model.Where(i => i.CID == id))
            {
                <tr>
                    <td>@Html.ActionLink("تعديل", "EmergencyEdit", new { did = item.DayID, cid = item.CID })</td>
                    <td>@item.Day</td>
                    <td>@item.Name</td>
                  
                </tr>
            }
        </table>
    }
    <center>
        @Html.ActionLink("العودة  للوحة التحكم", "Index", null, new { @class = "btn waves-effect waves-light red darken-4" })
    </center>
</div>
