@model List<BloodBankITI.Models.Hospitals_SelectAll_Result>
    @{
        ViewBag.Title = "Hospitals";
        Layout = "~/Views/Shared/_Layout2.cshtml";
    }
<link href="~/Content/materialize.css" rel="stylesheet" />
<div class="render">
    <h4 style="text-align:right;">المستشفيات</h4>
    <hr />
    <table class="table table-bordered table-striped table-hover" style="background-color:wheat;margin-right:inherit; width:850px;">
        <tr>
            
            <th> حذف </th>
            <th> تعديل </th>
            <th> العنوان </th>
            <th>التليفون </th>
            <th> اسم المدينة </th>
            <th>اسم المستشفى </th>
            <th> رقم المستشفى</th>
        </tr>

        @foreach (var a in Model)
        {
            <tr>
                <td> @Html.ActionLink("حذف", "HospitalsDelete", new { id = a.HID })</td>
                <td> @Html.ActionLink("تعديل", "HospitalsEdit", new { id = a.HID })</td>
                <td>@(a.Address) </td>
                <td>@(a.Phone) </td>
                <td>@(a.CityName) </td>
                <td>@(a.Name) </td>
                <td>@(a.HID) </td>
            </tr>

        }
    </table>
   <center>
            @Html.ActionLink("إضافة مستشفى جديدة", "HospitalsInsert", null, new { @class = "btn waves-effect waves-light red darken-4" })
             @Html.ActionLink("العودة  للوحة التحكم", "Index", null, new { @class = "btn waves-effect waves-light red darken-4" })
       </center>
</div>