
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Admin Panel</h2>
<br />
<br />
<br />
<br />
<br />
<br />
@Html.ActionLink("View Profile", "ViewProfile") <br />

@Html.ActionLink("Admins", "AdminsView") <br />
@Html.ActionLink("Blood Types", "BloodTypes") <br />
@Html.ActionLink("Cities", "Cities") <br />
@Html.ActionLink("Posts and Comments", "PostsComments") <br />

@Html.ActionLink("Donors", "Donors") <br />
@Html.ActionLink("Emergency", "Emergency") <br />
@Html.ActionLink("Hospitals", "Hospitals") <br />

@Html.ActionLink("Needers", "Needers") <br />
@Html.ActionLink("Needer_Donors", "NeederDonor") <br />
@Html.ActionLink("NGO", "NGO") <br />
@Html.ActionLink("Partners", "Partners") <br />
@Html.ActionLink("Partners Statistics", "PartnersStatistics") <br />
@Html.ActionLink("User Types", "UserTypesView") <br />




