<div class="render">
    <h2>Admin Panel</h2>
@Html.ActionLink("View Profile", "ViewProfile") <br />
@Html.ActionLink("User Types", "UserTypesView") <br />


<h2>Admin Panel</h2>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@Html.ActionLink("View Profile", "ViewProfile")

@Html.ActionLink("Admins", "AdminsView")
@Html.ActionLink("Blood Types", "BloodTypes")
@Html.ActionLink("Cities", "Cities")
@Html.ActionLink("Posts and Comments", "PostsComments")

@Html.ActionLink("Donors", "Donors")
@Html.ActionLink("Emergency", "Emergency")
@Html.ActionLink("Hospitals", "Hospitals")

@Html.ActionLink("Needers", "Needers")
@Html.ActionLink("Needer_Donors", "NeederDonor")
@Html.ActionLink("NGO", "NGO")
@Html.ActionLink("Partners", "Partners")
@Html.ActionLink("Partners Statestics", "PartnersStatestics")
@Html.ActionLink("User Types", "UserTypesView")
</div>