@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="render">

    
        <h4 style="font-size:40px;text-align:center; font-family:'Myriad عربي';">لوحة التحكم</h4>
    <br/>
    <table style="margin-left:0px;">
        <tr>
            <td>
                <a href='@Url.Action("ViewProfile", "admin")' title="عرض الصفحة الشخصية" style="text-decoration:none;">
                    <img src='@Url.Content("~/img/admin/profileeee.png")' />
                </a>
                <br />
            </td>
            <td>
                <a href='@Url.Action("AdminsView", "admin")' title="المشرفون" style="text-decoration:none;">
                    <img src='@Url.Content("~/img/admin/adminn.png")' />
                </a>
                <br />
            </td>
            <td>
                <a href='@Url.Action("BloodTypes", "admin")' title="فصائل الدم" style="text-decoration:none;">
                    <img src='@Url.Content("~/img/admin/btt.png")' />
                </a>
                <br />
            </td>
            <td>

                <a href='@Url.Action("Cities", "admin")' title="المحافظات" style="text-decoration:none;">
                    <img src='@Url.Content("~/img/admin/locationn.png")' />
                </a>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <a href='@Url.Action("PostsComments", "admin")' title="المشاركات والتعليقات" style="text-decoration:none;">
                    <img src='@Url.Content("~/img/admin/posts.png")' width="70" height="70" />
                </a>
                <br />
            </td>
            <td>
                <a href='@Url.Action("Donors", "admin")' title="المتبرعون" style="text-decoration:none;">
                    <img src='@Url.Content("~/img/admin/donate.png")' width="70" height="70" />
                </a>
                <br />
            </td>
            <td>
                <a href='@Url.Action("Emergency", "admin")' title="الطوارئ" style="text-decoration:none;">
                    <img src='@Url.Content("~/img/admin/emergencyyy.png")' />
                </a>
                <br />
            </td>
            <td>

                <a href='@Url.Action("Hospitals", "admin")' title="المستشفيات" style="text-decoration:none;">
                    <img src='@Url.Content("~/img/admin/hospitall.png")' />
                </a>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <a href='@Url.Action("Needers", "admin")' title="المحتاجين للدم" style="text-decoration:none;">
                    <img src='@Url.Content("~/img/admin/neederdonor.png")' width="80" height="80" />
                </a>
                <br />
            </td>
            <td>

                <a href='@Url.Action("NeederDonor", "admin")' title="طلبات الدم" style="text-decoration:none;">
                    <img src='@Url.Content("~/img/admin/bloodrequest.png")' width="70" height="70" />
                </a>
                <br />
            </td>
            <td>

                <a href='@Url.Action("NGO", "admin")' title="الجمعيات الخيرية" style="text-decoration:none;">
                    <img src='@Url.Content("~/img/admin/ngoo.png")' width="70" height="70" />
                </a>
                <br />
            </td>

            <td>
                <a href='@Url.Action("NGORequests", "admin")' title="الجمعيات الخيرية الغير مفعلة " style="text-decoration:none;">
                    <img src='@Url.Content("~/img/admin/ngorequest.jpg")' width="70" height="70" />
                </a>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <a href='@Url.Action("Partners", "admin")' title="الشركاء" style="text-decoration:none;">
                    <img src='@Url.Content("~/img/admin/partnerss.png")' />
                </a>
                <br />
            </td>
            <td>
                <a href='@Url.Action("PartnersStatistics", "admin")' title="إحصائيات الشركاء" style="text-decoration:none;">
                    <img src='@Url.Content("~/img/admin/Statisticss.png")' />
                </a>
                <br />
            </td>
            <td>
                <a href='@Url.Action("UserTypesView", "admin")' title="أنواع المستخدمين" style="text-decoration:none;">
                    <img src='@Url.Content("~/img/admin/usertypee.png")' />
                </a>
                <br />
            </td>

            <td>
                <a href='@Url.Action("ShowMsgs", "admin")' title="إظهار الرسائل" style="text-decoration:none;">
                    <img src='@Url.Content("~/img/admin/messsagess.png")' />
                </a>
                <br />
            </td>
        </tr>
        

            
        
    </table>
    <div id="space" style="margin-bottom:100px;"></div>
</div>
