@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Admin Panel</h2>
@Html.ActionLink("Update Account", "") <br/>

@Html.ActionLink("Admins", "AdminsView") <br/>
@Html.ActionLink("Blood Types", "BloodTypes") <br />
@Html.ActionLink("Cities", "Cities") <br />
@Html.ActionLink("Posts and Comments", "PostsComments") <br />
@Html.ActionLink("Days", "Days") <br />
@Html.ActionLink("Donors", "Donors") <br />
@Html.ActionLink("Emergency", "Emergency") <br />
@Html.ActionLink("Hospitals", "Hospitals") <br />
@Html.ActionLink("Locations", "Locations") <br />
@Html.ActionLink("Login", "Login") <br />
@Html.ActionLink("Needers", "Needers") <br />
@Html.ActionLink("Needer_Donors", "NeederDonor") <br />
@Html.ActionLink("NGO", "NGO") <br />
@Html.ActionLink("Partners", "Partners") <br />
@Html.ActionLink("Partners Statestics", "PartnersStatestics") <br />
@Html.ActionLink("User Types", "UserTypes") <br />

