@model List<BloodBankITI.Models.neederdonorall_Result>
   @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>NeederDonor</h2>

               <table class="table table-bordered table-hover table-striped">
                   <tr>

                       <th> Needer ID </th>
                       <th> Needer First Name </th>
                       <th> Needer Last Name </th>
                       <th> Donor ID </th>
                       <th> Donor FullName </th>
                       <th> City Name </th>
                       <th> Blood Type </th>
                       <th> Ask Date </th>
                       <th> Accepted </th>

                     </tr>

                   @foreach (var a in Model)
                   {
                       <tr>
                           <td>@(a.NID) </td>
                           <td>@(a.fname) </td>
                           <td>@(a.lname) </td>
                           <td>@(a.DID) </td>
                           <td>@(a.DonorFullname) </td>
                           <td>@(a.CityName) </td>
                           <td>@(a.type) </td>
                           <td>@(a.AskDate) </td>
                           <td>@(a.Accepted) </td>


                          

                          





                       </tr>

                   }

               </table>


               @Html.ActionLink("Back To Home", "Index")

