@model List<BloodBankITI.Models.selectneederallinfo_Result>
@{
    ViewBag.Title = "Needers";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />
<div class="render">
    <h3 style="font-family:Myriad عربي;">عرض المحتاجين للتبرع بالدم</h3>
    <hr />

    <div class="table-responsive">
        <table class="table table-striped" style="background-color:wheat;margin-right:inherit; width:800px;">
            <tr>
                <th> حذف</th>
                <th>تعديل</th>
                <th>رقم التلفون</th>
                <th>المدينة</th>
                <th>فصيلة الدم</th>
                <th>البريد الالكتروني</th>
                <th>الإسم الأخير</th>
                <th>الإسم الأول</th>
                <th>الرقم المسلسل</th>

            </tr>

            @foreach (var a in Model)
            {
                <tr>
                    <td> @Html.ActionLink("حذف", "NeederDelete", new { id = a.NID })</td>
                    <td> @Html.ActionLink("تعديل", "NeederEdit", new { id = a.NID })</td>

                    <td>@(a.Phone)</td>
                    <td>@(a.cityname)</td>
                    <td>@(a.type)</td>
                    <td>@(a.Email)</td>
                    <td>@(a.Lname) </td>
                    <td>@(a.Fname)</td>
                    <td>@(a.NID) </td>
                </tr>
            }
            </table>
        </div>            
    <p style="text-align:center;">@Html.ActionLink("العودة للصفحة الرئيسية", "Index", null, new { @class = "btn waves-effect waves-light red darken-4" })</p>
    </div>
