@model List<BloodBankITI.Models.neederdonorall_Result>
   @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />
<div class="render">
    <h3 style="font-family:Myriad عربي;">طلبات التبرع </h3>
    <hr />
    <div class="table-responsive">
        <table class="table table-striped" style="background-color:wheat;margin-right:inherit; width:800px;">
            <tr>
                <th> الموافقة على التبرع </th>
                <th> تاريخ الطلب </th>
                <th> فصيلة الدم </th>
                <th> المدينة </th>
                <th> اسم المتبرع </th>

                <th>اسم المحتاج للتبرع </th>
            </tr>
            @foreach (var a in Model)
            {
                <tr>
                    <td>
                        @if (a.Accepted.HasValue)
                        {
                            if ((bool)@a.Accepted == false)
                            {
                                @("لا");
                            }
                            else
                            {
                                @("نعم");
                            }
                        }
                        else
                        {
                            @("لم يتم الرد");
                        }

                    </td>
                    <td>@(a.AskDate) </td>
                    <td>@(a.type) </td>
                    <td>@(a.CityName) </td>
                    <td>@(a.DonorFullname) </td>


                    <td>@((a.fname)+ " " + (a.lname)) </td>
                   
                </tr>
            }

        </table>
    </div>
    <p style="text-align:center;">@Html.ActionLink("العودة للصفحة الرئيسية", "Index", null, new { @class = "btn waves-effect waves-light red darken-4" })</p>

</div>



                          
