@model List<BloodBankITI.Models.NGO_selectt_Result>
@{
    ViewBag.Title = "Ngo";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />
<div class="render">
    <h4>الجمعيات الخيرية</h4>
    <hr />

    <div class="table-responsive">
        <table class="table table-striped" style="background-color:wheat;margin-right:inherit; width:800px;">
            <tr>
                <th > حذف</th>
                <th >تعديل</th>

                <th>الحالة</th>
                <th >الموافقة</th>
                <th >العنوان</th>
                <th >رقم التلفون</th>
                <th>المدينة</th>
                <th >الإسم</th>
                <th >الرقم المسلسل</th>
  
            </tr>

            @foreach (var a in Model)
            {
                <tr>
                    <td> @Html.ActionLink("حذف", "NGODelete", new { id = a.NID })</td>
                    <td> @Html.ActionLink("تعديل", "NGOEDIT", new { id = a.NID })</td>

                    <td>@(a.Status) </td>
                    <td>@(a.Approved) </td>
                    <td>@(a.Address) </td>
                    <td>@(a.Phone) </td>
                    <td>@(a.CityName) </td>
                    <td>@(a.Name) </td>
                    <td>@(a.NID) </td>
                </tr>

            }

        </table>
        </div>
   
    <center>
        @Html.ActionLink("العودة للوحة التحكم ", "Index", null, new { @class = "btn waves-effect waves-light red darken-4" })</p>
    </center>
        
    </div>






                
           

            
    

    