@model BloodBankITI.Models.NgoUpdate
@{
    ViewBag.Title = "NGOEdit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />
<br /><br /><br />
@if (Session["UserId"] == null && Session["UserName"] == null)
            {
    <form style="margin-left:10px; margin-top:-35px;">
        <a href="/Login/Index" style="text-decoration:none;">
            <img src="~/img/signin.png" height="30" width="30" title="تسجيل الدخول" />

        </a>
        &nbsp;
        <a href="/Home/Register" style="text-decoration:none;">
            <img src="~/img/add-user.png" height="35" width="35" title="إنشاء حساب" />

        </a>
    </form>
}
else
{
    switch (Session["UserType"].ToString())
    {
        case "1":

            <a href="/home/logout" class="user" style="text-decoration:none;color:black;font-size:20px;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" />
            </a>
            <a href="/admin/index" class="user" style="text-decoration:none;color:black;font-size:20px;">
                @(Session["Fname"] + " " + Session["Lname"])
            </a>
            break;
        case "2":
            <a href="/home/logout" class="user" style="text-decoration:none;color:black;font-size:20px;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" style="left:25%;position:relative;" />
            </a>
            <a href="/donor/Index" class="user" style="text-decoration:none;color:black;font-size:20px;">
                @(Session["Fname"] + " " + Session["Lname"])
            </a>
            break;
        case "3":

            <a href="/home/logout" class="user" style="text-decoration:none;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" />
            </a>
            <a href="/ngo/index" class="user" style="text-decoration:none;color:black;font-size:20px;">   @(Session["Fname"])  </a>

            break;
        case "4":

            <a href="/home/logout" class="user" style="text-decoration:none;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" />
            </a>
            <a href="/partner/index" class="user" style="text-decoration:none;color:black;font-size:20px;"> @(Session["Fname"]) </a>

            break;
    }
}
<div class="render">
    <div class="container white z-depth-5" style="height:800px;">
        <div class="card-panel red darken-4"><h5>تعديل معلومات الجمعيات الخيرية</h5></div>
        <div id="register" class="col s12">
            <form class="col s12" action="" method="post" novalidate="novalidate">
                <div class="form-container">
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="hidden" class="validate" name="ngo.NID" value=@Model.ngo.NID style="text-align:left">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="validate" name="ngo.Name" value=@Model.ngo.Name style="text-align:left;">
                            <label class="right-align" for="ngo.Name">الاسم </label>
                        </div>
                    </div>
                     
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="number" class="validate" name="ngo.Phone" value=@Model.ngo.Phone style="text-align:left;">
                            <label class="right-align" for="ngo.Phone">رقم التلفون </label>
                        </div>
                    </div>   
       
                    <div class="row">
                        <div class="input-field col s12">
                            <div class="mdl-select mdl-js-select mdl-select--floating-label">
                                <label for="CitiesID" style="margin-right:-160px;">المدينة</label>
                            </div>
                            <div dir="rtl">
                                <select class="mdl-select__input" name="ngo.CID" id="CitiesID">

                                    @foreach (var item in Model.CitiesSelectAllResults)
                                    {
                                        if (item.CID == Model.ngo.CID)
                                        {
                                            <option value=@item.CID selected="selected">@item.CityName</option>
                                        }
                                        else
                                        {
                                            <option value=@item.CID>@item.CityName</option>
                                        }
                                    }
                                </select>
                            </div>
                         </div>
                    </div>   

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="validate" name="ngo.Address" value=@Model.ngo.Address style="text-align:left;">
                            <label class="right-align" for="ngo.Address">العنوان </label>
                        </div>
                    </div>   
                        

                 


                    <div class="row" >
                        <div class="input-field col s12" >
                            <div class="mdl-select mdl-js-select mdl-select--floating-label">
                                <label for="Message" style="margin-right:-160px;"> مفعّل؟؟ </label>
                            </div>
                            <div dir="rtl">
                                <select class="mdl-select__input" id="professsion" name="ngo.approved">
                                    @if (@Model.ngo.Approved == true)
                                    {
                                        <option selected value="1">True</option>
                                        <option value="0"> False </option>
                                    }
                                    else
                                    {
                                        <option value="1">True</option>
                                        <option selected value="0"> False </option>
                                    }
                                </select>

                            </div>
                        </div>
                    </div>
                        
                    <center>
                        <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">موافق</button>
                    </center>
                 
                   </div>
            </form>
        </div>
    </div>
  </div>
