@model BloodBankITI.Models.NgoUpdate
@{
    ViewBag.Title = "NGOEdit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>NGOEdit</h2>



<form action="" method="post" novalidate="novalidate">
    <div class="form-group">

        <input type="hidden" name="ngo.NID" value=@Model.ngo.NID>
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(p => p.ngo.Name)

        <input type="text" name="ngo.Name" value=@Model.ngo.Name>
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(p => p.ngo.Phone)

        <input type="text" name="ngo.Phone" value=@Model.ngo.Phone />
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ngo.CID, new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <select name="ngo.CID" id="CitiesID">
                
                <option value="0">Not Set</option>
                @foreach (var item in Model.CitiesSelectAllResults)
                {

                    
                    if (item.CID == Model.ngo.CID)
                    {
                        <option value=@item.CID selected="true">@item.CityName</option>
                    }
                    else
                    {
                        <option value=@item.CID>@item.CityName</option>
                    }
                }
            </select>

            @Html.ValidationMessageFor(model => model.ngo.CID)
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(p => p.ngo.Address)
        <input type="text" name="ngo.Address" value=@Model.ngo.Address />
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(p => p.ngo.Status)
        <select name="ngo.status">
            @if(@Model.ngo.Status == true)
            {
                <option selected value="1" >True</option>
                <option value="0"> False </option>
            }
            else
            {
                <option value="1">True</option>
                <option selected value="0"> False </option>
            }

        </select>
    </div>
    
    <div class="form-group">
        @Html.DisplayNameFor(p => p.ngo.Approved)  
    <select name="ngo.approved">
        @if(@Model.ngo.Approved == true)
        {
        <option selected value="1">True</option>
        <option value="0"> False </option>
        }
        else
        {
        <option value="1">True</option>
        <option selected value="0"> False </option>
        }
        </select>
</div>






    <div>
        <input type="submit" value="submit" />
    </div>
</form>