@model List<BloodBankITI.Models.Partners_selectt_Result>

@{
    ViewBag.Title = "Partners";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="render">
    <div class="render">
        <h4 style="font-family:'Myriad عربي';text-align:center;">عرض كل الشركاء</h4>

        <div class="table-responsive">
            <table class="table table-striped" style="background-color:wheat;margin-right:inherit; width:800px;">
                <tr>
                    <th style="text-align:center; font-size:25px;color:firebrick; font-family:'Myriad عربي'">تعديل</th>

                    <th style="text-align:center; font-size:25px;color:firebrick; font-family:'Myriad عربي'">الحالة</th>
                    <th style="text-align:center; font-size:25px;color:firebrick; font-family:'Myriad عربي'">العنوان</th>
                    <th style="text-align:center; font-size:25px;color:firebrick; font-family:'Myriad عربي'">الإسم</th>
                    <th style="text-align:center; font-size:25px;color:firebrick; font-family:'Myriad عربي'">الرقم المسلسل</th>
                    @*<table class="table table-bordered table-hover table-striped">
                        <tr class="th_style">
                            <th style="text-align:center;"> تعديل </th>

                            <th  style="text-align:center;"> الحالة </th>
                            <th  style="text-align:center;"> العنوان </th>
                            <th  style="text-align:center;"> الإسم </th>
                            <th  style="text-align:center;"> الرقم المسلسل </th>
                        </tr>*@
                    </tr>
                    @foreach (var a in Model)
                    {
                    <tr>
                        <td style="text-align:center;"> @Html.ActionLink("تعديل", "PartnersEdit", new { id = a.PAID })</td>

                        <td style="text-align:center;">@(a.Status) </td>
                        <td style="text-align:center;">@(a.Address) </td>
                        <td style="text-align:center;">@(a.Name) </td>
                        <td style="text-align:center;">@(a.PAID) </td>
                    </tr>

                    }

                </table>
            </div>

        <p style="text-align:center;">@Html.ActionLink("العودة للصفحة الرئيسية", "Index",null, new { @class = "btn btn-danger" })</p>
      </div>
    </div>