@model IEnumerable<BloodBankITI.Models.Cities_SelectAll_Result>
@{
    ViewBag.Title = "PartnersInsert";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@*<div class="render">
    <h2>PartnersInsert</h2>
    <form action="" method="POST">
        <div class="form-group">
            First Name: <input type="text" name="Partner.Fname" />
        </div>
        <div class="form-group">
            Last Name: <input type="text" name="Partner.Lname" />
        </div>


        <input type="submit" value="Insert" />
    </form>
    @Html.ActionLink("Cancel", "Partners")
</div>*@

<link href="~/Content/materialize.css" rel="stylesheet" />
<br /><br /><br />
@if (Session["UserId"] == null && Session["UserName"] == null)
            {
    <form style="margin-left:10px; margin-top:-35px;">
        <a href="/Login/Index" style="text-decoration:none;">
            <img src="~/img/signin.png" height="30" width="30" title="تسجيل الدخول" />

        </a>
        &nbsp;
        <a href="/Home/Register" style="text-decoration:none;">
            <img src="~/img/add-user.png" height="35" width="35" title="إنشاء حساب" />

        </a>
    </form>
}
else
{
    switch (Session["UserType"].ToString())
    {
        case "1":

            <a href="/home/logout" class="user" style="text-decoration:none;color:black;font-size:20px;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" />
            </a>
            <a href="/admin/index" class="user" style="text-decoration:none;color:black;font-size:20px;">
                @(Session["Fname"] + " " + Session["Lname"])
            </a>
            break;
        case "2":
            <a href="/home/logout" class="user" style="text-decoration:none;color:black;font-size:20px;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" style="left:25%;position:relative;" />
            </a>
            <a href="/donor/Index" class="user" style="text-decoration:none;color:black;font-size:20px;">
                @(Session["Fname"] + " " + Session["Lname"])
            </a>
            break;
        case "3":

            <a href="/home/logout" class="user" style="text-decoration:none;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" />
            </a>
            <a href="/ngo/index" class="user" style="text-decoration:none;color:black;font-size:20px;">   @(Session["Fname"])  </a>

            break;
        case "4":

            <a href="/home/logout" class="user" style="text-decoration:none;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" />
            </a>
            <a href="/partner/index" class="user" style="text-decoration:none;color:black;font-size:20px;"> @(Session["Fname"]) </a>

            break;
    }
}
<div class="render">
    <div class="container white z-depth-5" style="height:500px;">
        <div class="card-panel red darken-4"><h5>إضافة شركاء</h5></div>
        <div  class="col s12">
            <form class="col s12" action="" method="post" novalidate="novalidate">
                <div class="form-container">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="validate" name="Partner.Name" style="text-align:right;">
                            <label class="right-align" for="Partner.Name"> الإسم </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="validate" name="Partner.Address" style="text-align:right;">
                            <label class="right-align" for="Partner.Address">العنوان</label>
                        </div>
                    </div>

                    <center> 
                        @Html.ActionLink("الرجوع الى الشركاء", "Partners", null, new { @class = "btn waves-effect waves-light red darken-4" })
                        <button class="btn waves-effect waves-light red darken-4" type="submit">إضافة </button>
                     </center>
                </div>
            </form>

        </div>
       
    </div>
</div>
