@model List<BloodBankITI.Models.Partners_selectt_Result>

@{
    ViewBag.Title = "Partners";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="render">
    <div class="render">
        <h4 style="font-family:'Myriad عربي';text-align:center;">عرض كل الشركاء</h4>
        <hr />
        <div class="table-responsive">
            <table class="table table-striped" style="background-color:wheat;margin-right:inherit; width:800px;">
                  <tr>
                    <th>تعديل</th>
                    <th >الحالة</th>
                    <th >العنوان</th>
                    <th>الإسم</th>
                    <th>الرقم المسلسل</th>
                </tr>
                @foreach (var a in Model)
                {
                    <tr>
                        <td > @Html.ActionLink("تعديل", "PartnersEdit", new { id = a.PAID })</td>
                        <td>@(a.Status) </td>
                        <td>@(a.Address) </td>
                        <td>@(a.Name) </td>
                        <td>@(a.PAID) </td>
                    </tr>

                }

            </table>
        </div>
        <center>
            @Html.ActionLink("العودة للوحة التحكم ", "Index", null, new { @class = "btn waves-effect waves-light red darken-4" })
            @Html.ActionLink("إضافة شريك جديد", "PartnersInsert", null, new { @class = "btn waves-effect waves-light red darken-4" })
        </center>

    </div>
    <div style="margin-bottom:35px;" ></div>
</div>