@model IEnumerable<BloodBankITI.Models.PostsComments>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="render">
    <h3>مشاركات الحائط </h3>
    <hr />
        @foreach (var post in Model)
        {
            <div class="outset">
                <label style="text-align:right">@(post.post.Name)</label><br /><br />
                <p> @Html.ActionLink(@post.post.Insert_date.Value.ToString("dd/MMM/yyyy"), "GetPostByID", new { id =post.post.PID })</p>
                <label style="color:black;font-family:Myriad عربي;">,<small>@("من  " + post.post.CityName + "  ")</small></label>
                <label style="color:black;">,<small>@("   " + post.post.Type + "فصيلة الدم  ") </small></label>
                <label style="color:black;"><small>@(" رقم التلفون  " + post.post.Phone + "   ")</small></label><br /><br />
                <label>@post.post.Post</label><br />
                @*<p style="text-align:left;color:black;">@post.post.Insert_date</p>*@  
            </div>
            <br />
            <p style="text-align:left;">@Html.ActionLink("حذف", "DeletePost", new { PID = post.post.PID }, new { @class = "btn waves-effect waves-light red darken-4" })</p>
            <hr />
            <h3>التعليقات </h3>
            foreach (var comment in post.comments)
            {
                @*<p>@(comment.Name + ": " + comment.Comment)</p>*@
                <label>@(":" + comment.Name) </label>
                <br />
                <p>@(comment.Comment)</p>
                <br /> <br />
                <p style="text-align:left;">@Html.ActionLink("حذف", "DeleteComment", new { CID = comment.ID }, new { @class = "btn waves-effect waves-light red darken-4" })</p>
            }
        }
        <p style="text-align:center;">@Html.ActionLink("العودة للصفحة الرئيسية", "Index",null, new { @class = "btn waves-effect waves-light red darken-4" })</p>


</div>