@model System.Collections.Generic.List<BloodBankITI.Models.ContactSelect_Result>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />
<br /><br /><br />
@if (Session["UserId"] == null && Session["UserName"] == null)
            {
    <form style="margin-left:10px; margin-top:-35px;">
        <a href="/Login/Index" style="text-decoration:none;">
            <img src="~/img/signin.png" height="30" width="30" title="تسجيل الدخول" />

        </a>
        &nbsp;
        <a href="/Home/Register" style="text-decoration:none;">
            <img src="~/img/add-user.png" height="35" width="35" title="إنشاء حساب" />

        </a>
    </form>
}
else
{
    switch (Session["UserType"].ToString())
    {
        case "1":

            <a href="/home/logout" class="user" style="text-decoration:none;color:black;font-size:20px;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" />
            </a>
            <a href="/admin/index" class="user" style="text-decoration:none;color:black;font-size:20px;">
                @(Session["Fname"] + " " + Session["Lname"])
            </a>
            break;
        case "2":
            <a href="/home/logout" class="user" style="text-decoration:none;color:black;font-size:20px;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" style="left:25%;position:relative;" />
            </a>
            <a href="/donor/Index" class="user" style="text-decoration:none;color:black;font-size:20px;">
                @(Session["Fname"] + " " + Session["Lname"])
            </a>
            break;
        case "3":

            <a href="/home/logout" class="user" style="text-decoration:none;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" />
            </a>
            <a href="/ngo/index" class="user" style="text-decoration:none;color:black;font-size:20px;">   @(Session["Fname"])  </a>

            break;
        case "4":

            <a href="/home/logout" class="user" style="text-decoration:none;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" />
            </a>
            <a href="/partner/index" class="user" style="text-decoration:none;color:black;font-size:20px;"> @(Session["Fname"]) </a>

            break;
    }
}
<div class="render">
    <h3 style="font-family:Myriad عربي;">الرسائل</h3>
    <hr />

    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped"  style="background-color:wheat;margin-right:inherit; width:800px;">
            <tr>
                <th></th>
                <th></th>
                <th>الرسالة</th>
                <th>البريد الإلكتروني</th>
                <th>المدينة</th>
                <th>العمر</th>
                <th>الاسم</th>
            </tr>

            @foreach (var contact in Model)
            {
                <tr>
                    <td> @Html.ActionLink("حذف", "DeleteMsg", new { id = @contact.ID })</td>
                    <td> @Html.ActionLink("عرض", "ShowMsg", new { id = @contact.ID })</td>

                    @if(@contact.Msg.Length>10)
                    {<td>@(contact.Msg.Substring(0,9) + "...") </td>}
                    else
                    {<td>@contact.Msg</td>}

                    <td>@contact.Email </td>
                    <td>@contact.City </td>
                    <td>@contact.Age </td>
                    <td>@(contact.FName + " " + contact.LName) </td>                   
                </tr>

            }

        </table>
    </div>


    <p style="text-align:center;">@Html.ActionLink("العودة للوحة التحكم ", "Index", null, new { @class = "btn waves-effect waves-light red darken-4" })</p>
    <div id="ff" style="margin-bottom:65px;"></div>

</div>
