@model List<BloodBankITI.Models.UserType_selectt_Result>
@{
    ViewBag.Title = "UserTypesView";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="render">
    <h3 style="font-family:Myriad عربي;"> عرض أنواع المستخدمين </h3>
    <hr />
    <table class="table table-bordered table-hover table-striped" style="text-align:center;background-color:wheat;">
        <tr>
          
            <th> تعديل  </th>
            <th>النوع </th>
            <th> الرقم المسلسل  </th>
        </tr>

        @foreach (var a in Model)
        {
            <tr>
          
                <td> @Html.ActionLink("تعديل", "UserTypesEdit", new { id = a.UTID })</td>
                <td>@(a.Type) </td>
                <td>@(a.UTID) </td>
            </tr>

        }

    </table>

    <center>
          @Html.ActionLink("الرجوع للصفحة الرئيسية", "Index", null, new { @class = "btn waves-effect waves-light red darken-4" })
        @Html.ActionLink("ادخال مستخدم جديد", "UserTypesInsert", null, new { @class = "btn waves-effect waves-light red darken-4" })

    </center>
</div>