@model BloodBankITI.Models.Admins_select_Result

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="render">
    <h4 style="font-family:'Myriad عربي';">الصفحة الشخصية</h4>
    <hr />

    <div class="outset">
        <p> :الإسم</p><br />
        <div style="text-align:center;">  @(Model.Fname + " " + Model.Lname)</div>

        <p> :اسم المستخدم</p><br />
        <div style="text-align:center;">
            @Model.UserName</div>

            <p> :كلمة المرور</p><br />
            <div style="text-align:center;">
                @Model.Password</div>
            </div>

    <br />
    <center>
        @Html.ActionLink("تعديل الصفحة الشخصية", "UpdateProfile",null, new { @class = "btn waves-effect waves-light red darken-4" })
        @Html.ActionLink("الرجوع للصفحة الرئيسية", "Index",null, new { @class = "btn waves-effect waves-light red darken-4" })
    </center>
</div>