@model BloodBankITI.Models.Admins_select_Result

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="render">
    <h2 style="font-family:'Myriad عربي';text-align:center;">الصفحة الشخصية</h2>
    <br />
    <label  style="float:right;"> :الإسم</label>
    <div style="float:right;">@(Model.Fname + " " + Model.Lname)</div><br />

    <label class="right-align" > :اسم المستخدم</label>
    <div class="right-align" style="float:right;"> @Model.UserName </div> <br />

    <label class="right-align" style="float:right;"> :كلمة المرور</label>
    <div class="right-align" style="float:right;"> @Model.Password </div> <br />

    <div class="right-align" style="float:right;">
        @Html.ActionLink("تعديل الصفحة الشخصية", "UpdateProfile")</div><br />
    <div class="right-align" style="float:right;">
        @Html.ActionLink("الرجوع للصفحة الرئيسية", "Index")</div>
</div>