
@model BloodBankITI.Models.Admins_select_Result

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />
<div class="render">
    <div class="panel panel-info" style="border:2px solid darkgray;">
        <div class="panel-heading" style="background-color:darkgray;border:2px solid darkgray;">
            <h3 class="panel-title" style="font-family:'Myriad عربي';position:center;color:black;">الصفحة الشخصية</h3>
        </div>
        <br />

        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> 
                    @if(@Model.Picture == "f")
                    {
                        <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive">
                    }
                    else
                    {
                        <img alt="User Pic" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTnCTg4SrxcZ45AWv9VRFkEAoE0sXzP72qsDHEJQLHgudG7_j7c" class="img-circle img-responsive">
                    }
                 </div>
                <div class=" col-md-9 col-lg-9 " style="position:center;border:hidden;">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>@(Model.Fname + " " + Model.Lname)</td>
                                <td>:الإسم</td>
                            </tr>
                            <tr>
                                <td>@Model.UserName</td>
                                <td>:اسم المستخدم</td>
                            </tr>
                            <tr>
                                <td>@Model.Password</td>
                                <td>:كلمة المرور</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <center style="margin-left:10px;">
                    @Html.ActionLink("تعديل الصفحة الشخصية", "UpdateProfile", null, new { @class = "btn waves-effect waves-light red darken-4" })
                    @Html.ActionLink("الرجوع للصفحة الرئيسية", "Index", null, new { @class = "btn waves-effect waves-light red darken-4" })
                </center>

            </div>
        </div>
    </div>
</div><br /><br />


