@model BloodBankITI.Models.Needer
     @{
         ViewBag.Title = "Info";
         Layout = "~/Views/Shared/_Layout2.cshtml";
    }
<link href="~/Content/materialize-v0.97.5/css/materialize.css" rel="stylesheet" />

    @*<h2>Ask for Blood محتاج دم </h2>*@
        @*الاسم: @Html.EditorFor(n => Model.Fname)<br />
        LastName: @Html.EditorFor(n => Model.Lname)<br />
        Email: @Html.EditorFor(n => Model.Email)<br />
        Phone: @Html.EditorFor(n => Model.Phone)<br />
        Blood: @Html.EditorFor(n => Model.BID)<br />
        City: @Html.EditorFor(n => Model.CID)<br />*@

<div class="render">

        <div class="container white z-depth-2">
            <div class="card-panel #b71c1c red darken-4"><h5 style="color:aliceblue;text-align:center;">انا محتاج دم</h5>  </div>
            @*<ul class="tabs teal">
                <li class="tab col s3">
                    <li class="white-text">انا محتاج دم</li>
                 </li>
            </ul>*@
            <br />
            
            <div id="register" class="col s12">
                <form class="col s12" action="" method="post">
                    <div class="form-container">
                        @*<h3 class="teal-text" style="text-align:right;">انا محتاج دم</h3><br /><br />*@
                        <div class="row">
                            <div class="input-field col s6" >
                                <input id="last_name" type="text" class="validate" name="Lname" style="text-align:right">
                                          @*@Html.EditorFor(n => Model.Lname)*@
                                           <label class="right-align" for="last_name">الاسم الثانى  </label>       
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" name="Fname" type="text" class="validate" style="text-align:right;">
                                        @*@Html.EditorFor(n => Model.Fname)*@                                 
                                        <label class="right-align" for="first_name" >الاسم الاول</label>       
                        </div>
                            <br /><br />
                        <div class="row">
                            <div class="input-field col s12" >
                                <input id="email" type="email" class="validate" name="Email" style="text-align:right">
                                    @*@Html.EditorFor(n => Model.Email,new { @class= "validate" })*@
                                    <label class="right-align" for="email">البريد الالكترونى </label>     
                             </div>
                        </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email-confirm" type="email" class="validate" name="Phone" style="text-align:right;">
                                        @*@Html.EditorFor(n => Model.Phone)*@
                                        <label class="right-align" for="phone">رقم التليفون </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" class="validate" name="BID" style="text-align:right;">
                                        @*@Html.EditorFor(n => Model.BID)*@
                                        <label class="right-align" for="bloodId">نوع الدم</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password-confirm" type="password" class="validate"name="CID" style="text-align:right;">
                                        @*@Html.EditorFor(n => Model.CID)*@
                                        <label class="right-align" for="city">المدينة </label>
                                </div>
                            </div>
                        <center>
                            <button class="btn waves-effect waves-light brown" type="submit" name="action">ارسال</button>
                        </center>
                    </div>
                  </div>
                </form>
            </div>
        </div>


        @*<input type="submit" value="Ask" />*@
    @*</form>*@
</div>
<script src="~/js/materialize.min.js"></script>
