@model BloodBankITI.Models.donorinsertform
@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />
<head>
    <!-- Material Design Lite -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="~/Scripts/FormsDropDwon.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>


</head>

<div class="render">
    <div style=" margin-right:150px; float:right; font-size:20px;">&nbsp;لو عايز تتبرع اعرف معلومات أكتر عن التبرع

        <a href="/home/info">من هنا</a>
    </div>
    <br />
    <div class="container white z-depth-2" style="height:auto;">
        <div class="card-panel red darken-4"><h4> لو عايز تتبرع </h4></div>
        <div id="register" class="col s12">
            <form class="col s12" action="" method="post">
                <div class="form-container">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="first_name" name="Donor.Fname" type="text" class="validate" style="text-align:right;">
                            <label class="right-align" for="first_name">الاسم الاول </label>
                            @Html.ValidationMessageFor(model => model.Donor.Fname)
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="last_name" type="text" class="validate" name="Donor.Lname" style="text-align: right">
                            <label class="right-align" for="last_name"> الاسم الاخير </label>
                            @Html.ValidationMessageFor(model => model.Donor.Lname)
                        </div>
                    </div>
                    <div class="row" style="float:right;">
                        <div class="input-field col s12">
                            <div style="float:right; position:relative; margin-right:52px;">
                                <label class="right-align" style="margin-right:-55px;">النوع</label>
                            </div>
                            <br />
                            <p>
                                <input class="with-gap" name="Donor.DonorGender" type="radio" id="Male" value="male" />
                                <label for="Male">ذكر</label>
                            </p>
                            <p>
                                <input class="with-gap" name="Donor.DonorGender" type="radio" id="Female" value="female" />
                                <label for="Female">أنثى</label>
                            </p>

                            @Html.ValidationMessageFor(model => model.Donor.DonorGender)
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="number" class="validate" name="Donor.Phone" style="text-align:right;" />
                            <label class="right-align" for="Phone"> رقم التلفون </label>
                            @Html.ValidationMessageFor(model => model.Donor.Phone)
                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="input-field col s12">
                            <div class="mdl-select mdl-js-select mdl-select--floating-label">
                                <label for="CitiesID" class="right-align" style="margin-right:-155px;">فصيلة الدم</label>
                            </div>
                            <div dir="rtl">
                                <select class="mdl-select__input" id="professsion" name="Donor.BID">
                                    <option value="NULL">لا أعرف فصيلة دمي</option>
                                    @foreach (var item in Model.BloodTypesResults)
                                    {

                                        <option value=@item.BID>@item.Type</option>
                                    }

                                </select>
                            </div>
                                @Html.ValidationMessageFor(model => model.Donor.BID)
                        </div>

                     </div>
                    <div class="card">
                        <h4 style="font-family:'Myriad عربي'; color:brown;"> لو مش عارف فصيلة دمي اعمل ايه؟</h4>
                        <p style="font-family:'Myriad عربي'; text-align:right; ">&nbsp;  تقدر تعرف فصيلة دمك عن طريق انك تحدد اي معمل وهو هيعرفك فصيلة الدم مجانا اختار المعمل بعد تسجيل بياناتك <a href="/home/selectPartner">من هنا</a></p>
                     
                    </div>
                    @*<ul>
                        <li>
                            <input type="checkbox" checked>
                            <i></i>
                            <h4 style="font-family:'Myriad عربي'"> لو مش عارف فصيلة دمي اعمل ايه؟</h4>
                            <p style="font-family:'Myriad عربي'">&nbsp;  تقدر تعرف فصيلة دمك عن طريق انك تحدد اي معمل وهو هيعرفك فصيلة الدم مجانا ,اختار المعمل بعد تسجيل بياناتك <a href="/home/selectPartner">من هنا</a></p>
                        </li>
                    </ul>*@



                                <div class="row">
                                    <div class="input-field col s12">
                                        <div class="mdl-select mdl-js-select mdl-select--floating-label">
                                            <label for="CitiesID" class="right-align" style="margin-right:-155px;">المدينة</label>
                                        </div>

                                        <div dir="rtl">
                                            <select class="mdl-select__input" name="Donor.CID" id="CitiesID">

                                                <option value="0">اختر مدينة</option>
                                                @foreach (var item in Model.CitiesSelectAllResults)
                                                {
                                                <option value=@item.CID>@item.CityName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12 ">
                                        <div class="mdl-select mdl-js-select mdl-select--floating-label">
                                            <label class="right-align" for="LID" style="margin-right:-155px;">المنطقة</label>
                                        </div>
                                        @*<label class="right-align" for="LID">المنطقة </label>*@
                                        <select class="mdl-select__input" name="Donor.LID" id="locationID">
                                            <option> </option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.Donor.CID)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="date" class="validate" name="Donor.DonationDate" " />
                                        <label class="right-align" for="DonationDate">تاريخ التبرع </label>
                                        @Html.ValidationMessageFor(model => model.Donor.LID)
                                    </div>
                                </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="Username" type="text" oninput="checkusername()" class="validate" name="Donor.UserName" style="text-align:right;" />
                            <label class="right-align" for="last_name">  اسم المستخدم</label><label id="usernameerror"></label>
                            @Html.ValidationMessageFor(model => model.Login.UserName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="Password" type="password" class="validate" name="Donor.Password" style="text-align:right;" />
                            <label class="right-align" for="last_name"> كلمة المرور </label>
                            @Html.ValidationMessageFor(model => model.Login.Password)
                        </div>
                   </div>
                   <div class="row">
                        <div class="input-field col s12">
                            <input id="Password2" type="password" oninput="checkpassword()" class="validate" name="Donor.Password" style="text-align:right" />
                            <label class="right-align" for="Passwprd"> تأكيد كلمة المرور </label><label id="passworderror"></label>
                        </div> 
                  </div>
                        <center>
                            <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">تبرع</button>
                        </center>


</div>
</form>
    </div>
</div>
</div>
<script>

    function checkusername() {
        var username = $('#Username').val();
        if (username != "") {
            $.ajax({
                url: 'http://www.bloodservice.somee.com/Home/CheckUsername/' + username,
                type: 'GET',
                dataType: 'json',
                success: function (data) {

                    if (data == 1)
                        $('#usernameerror').html("<label style='text-align:right;'>هذا الاسم مستخدم<label>");
                    else {
                        $('#usernameerror').html("<label style='text-align:right;'>هذا الاسم متاح<label>");
                    }
                },
                error: function (e) {
                    alert(e.statusText);
                }
            });
        }
    }

    function checkpassword() {
        var Password = $('#Password').val();
        var Password2 = $('#Password2').val();
        if (Password == Password2) {
            $('#passworderror').html("<label style='text-align:right;'>كلمة المرور متطابقة<label>");
        }
        else
        {
            $('#passworderror').html("<label style='text-align:right;'>كلمة المرور غير متطابقة<label>");
        }
    }

    $('#CitiesID').change(function () {
        var CityID = $('#CitiesID').val();
        $.ajax({
            url: 'http://www.bloodservice.somee.com/Home/LocationByCID/' + CityID,
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                WriteResponse(data);
            },
            error: function (e) {
                alert(e.statusText);
            }
        });


    });

    function WriteResponse(data) {
        var result;
        $.each(data, function (index, locations) {
            result += "<option value=" + locations.LID + ">" + locations.LocationName + "</option>";
        });
        $('#locationID').html(result);

    }
</script>



