@model BloodBankITI.Models.donorinsertform
@{
    ViewBag.Title = "InsertPost";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="render">
    <div class="container white z-depth-2" style="height:auto;">
        <div class="card-panel red darken-4"><h5> إضافة مشاركة </h5></div>
        <div id="register" class="col s12">
            <form action="" method="POST">
                <input type="hidden" name="Post.Periodic" value=1 />
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="validate" name="Post.Name" style="text-align:right">
                        <label class="right-align">الاسم   </label>
                        @Html.ValidationMessageFor(a => a.Donor.Fname, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" class="validate" name="Post.post1" style="text-align:right">
                        <label class="right-align">التعليق   </label>
                        @Html.ValidationMessageFor(a => a.Donor.Fname, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" >
                    <div class="input-field col s12">
                        <div class="mdl-select mdl-js-select mdl-select--floating-label">
                            <label class="right-align" style="margin-right:-240px;">فصيلة الدم</label>
                        </div>
                        <div dir="rtl">
                            <select name="Post.BID" class="mdl-select__input">
                                <option value="NULL">إختـــــر </option>
                                @foreach (var d in Model.BloodTypesResults)
                                {
                                    <option value=@d.BID>@d.Type</option>
                                }
                            </select>
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <div class="mdl-select mdl-js-select mdl-select--floating-label">
                            <label class="right-align" style="margin-right:-240px;">المدينة</label>
                        </div>
                        <div dir="rtl">
                            <select name="Post.CID" class="mdl-select__input">
                                <option value="NULL">إختـــــر </option>
                                @foreach (var d in Model.CitiesSelectAllResults)
                                {
                                    <option value=@d.CID>@d.CityName</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="number" class="validate" name="Post.Phone" style="text-align:right">
                        <label class="right-align">رقم الهاتف    </label>
                    </div>
                </div>

                
                <br />
                <center>
                    @Html.ActionLink("العودة للمشاركات", "WallPosts", null, new { @class = "btn waves-effect waves-light red darken-4" })
                    <button class="btn waves-effect waves-light red darken-4" type="submit" name="action"> إضافة</button>
                </center>
                <br />
            </form>
        </div>
    </div>
        </div>
     

