@model List<BloodBankITI.Models.Cities_SelectAll_Result>
    @{
        ViewBag.Title = "NgoRequest";
        Layout = "~/Views/Shared/_Layout2.cshtml";
    }
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <head>
        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.indigo-pink.min.css">
        <!-- Material Design icon font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="~/Scripts/ngo.js"></script>

    </head>

    <div class="render">
        @*<h3>NgoRequest</h3> <h3>Donate</h3>*@
        <div class="container white z-depth-2">
            <div class="card-panel #b71c1c red darken-4"><h5 style="color:aliceblue;text-align:center;">  تسجيل</h5>  </div>

            <div id="register" class="col s12">

                <form method="POST" action="NgoRequest">
                    <div class="form-container">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="first_name" type="text" class="validate" name="NGO.Name" style="text-align:right">
                                <label class="right-align" for="first_name">الاسم  </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="phone" type="text" class="validate" pattern="-?[0-9]*(\.[0-9]+)?" name="NGO.Phone" style="text-align:right;">
                                <label class="right-align" for="phone">رقم التليفون </label>
                                <span class="mdl-textfield__error">Number required!</span>

                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="address" type="text" class="validate" name="NGO.Address" style="text-align:right;">
                                <label class="right-align" for="address"> العنوان  </label>
                            </div>
                        </div>



                        @*<div class="form-group">
                                City :
                                <div class="col-md-10">

                                    <select name="NGO.CID" id="CitiesID">
                                        @foreach (var item in Model)
                                        {
                                            <option value="0">Not Set</option>
                                            <option value=@item.CID>@item.CityName</option>
                                        }
                                    </select>
                                </div>
                            </div>*@
                        @*<div class="row">
                            <div class="input-field col s12">*@
                        @*<select class="mdb-select" name="NGO.CID" id="CitiesID">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>*@
                        @*<select class="mdb-select"name="NGO.CID" id="CitiesID">
                                        @foreach (var item in Model)
                                        {
                                            <option value="0">Not Set</option>
                                            <option  value="item.CID">@item.CityName</option>
                                        }
                                    </select>
                                    <label class="right-align">المدينة  </label>
                                </div>
                            </div>*@
                        @*<div class="row">
                                  <div class="input-field col s12">

                                      <div class="mdl-select mdl-js-select mdl-select--floating-label">
                                          <select class="mdl-select__input" id="professsion" name="NGO.CID">
                                              @foreach (var item in Model)
                                              {
                                                  <option value="0">Not Set</option>
                                                  <option value="item.CID">@item.CityName</option>
                                              }
                                          </select>
                                          <label class="mdl-select__label" for="professsion" style="text-align:right;">المدينة </label>
                                      </div>
                                 </div>
                            </div>*@




                        @*<div class="row">
                                <div class="input-field col s12">
                                    <div class="mdl-select mdl-js-select mdl-select--floating-label">
                                        <label for="CitiesID" style="text-align:right; width:460px;">المدينة</label>
                                    </div>

                                    <br />
                                    <br />
                                    <div dir="rtl">
                                        <select class="mdl-select__input" name="ngo.CID" id="CitiesID">
                                            <option value="0">Not Set</option>
                                            @foreach (var item in Model)
                                            {
                                                    <option value="item.CID">@item.CityName</option>
                                            }
                                        </select>
                                        <label class="mdl-select__label" for="professsion" style="text-align:right;">المدينة </label>

                                    </div>
                                </div>
                            </div>*@


                        <div class="row">
                            <label style="color:red; margin-right:20px;font-size:14px" for="CID"> المدينة </label>
                            <div class="input-field col s12">
                                <div dir="rtl">
                                    <select class="mdl-select__input" name="NGO.CID" id="CitiesID">
                                        <option value="NULL">Not Set</option>
                                        @foreach (var item in Model)
                                        {
                                            <option value=@item.CID >@item.CityName</option>

                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="Username" type="text" class="validate" name="NGO.UserName" style="text-align:right">
                                <label class="right-align" for="Username"> Username </label>
                            </div>
                            <div class="input-field col s6">
<<<<<<< HEAD
                                <input id="Password" type="text" class="validate" name="NGO.Password" style="text-align:right">
                                <label class="right-align" for="Passwprd"> Password </label> 
                            </div>
                            <div class="input-field col s6">
                                <input id="Password" type="text" class="validate" name="NGO.Password" style="text-align:right">
=======
                                <input id="Password" type="password" class="validate" name="login.Password" style="text-align:right">
                                <label class="right-align" for="Password"> Password </label> 
                            </div>
                            <div class="input-field col s6">
                                <input id="Password" type="password" class="validate" name="Password" style="text-align:right">
>>>>>>> origin/master
                                <label class="right-align" for="Password"> ConfirmPassword </label>
                            </div>


                            <center>
                                <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">ارسال</button>
                            </center>
                           
                        </div>
                </form>
            </div>
        </div>
    </div>
