@model IEnumerable<BloodBankITI.Models.PostsComments>
@{
    ViewBag.Title = "WallPosts";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="render">
    <div class="container white z-depth-2" style="height: auto; width: 700px;">
        <div class="card-panel grey darken-1"><h4 style="font-family: 'Myriad عربي'; color: #ffffff;"> المشاركات</h4>
        </div>


        <a href='@Url.Action("InsertPost", "home")' title="إضافة مشاركة " style="text-decoration: none;">
            <img src='@Url.Content("~/img/writepost.png")'/>

        </a>

        @foreach (var post in Model)
        {
            <br/>
            <div id="post">
                <label style="text-align: right">@(post.post.Name)</label><br/><br/>
                <p> @Html.ActionLink(@post.post.Insert_date.Value.ToString("dd/MMM/yyyy"), "GetPostByID", new {id = post.post.PID})</p>
                <label style="color: black; font-family: Myriad عربي;">،<small>@("من  " + post.post.CityName + "  ")</small></label>
                <label style="color: black;">،<small>@("   " + post.post.Type + "فصيلة الدم  ") </small></label>
                <label style="color: black;"><small>@(" رقم التلفون  " + post.post.Phone + "   ")</small></label><br/><br/>
                <label>@post.post.Post</label><br/>
            </div>
            <hr/>
            <div class="fb-share-button" data-href="http://localhost:7508/home/GetPostByID/1" data-layout="button_count" data-mobile-iframe="false"></div>

            <div class="outset">
                <label style="font-size: 20px;">الردود</label>
                <br/><br/>
                @foreach (var comment in post.comments)
                {
                    <label> @comment.Name</label><br/>
                    <p> @comment.Comment</p>
                    <hr>
                }

            </div>
            <br/>
            <div class="comment">
                @*<h6>Insert Comment</h6>*@
                <form action="InsertComment" method="post">

                    <input type="hidden" name="comment.Post_ID" value=@post.post.PID.ToString()>
                    @*<label name="comment.Post_ID" value=@post.post.PID.ToString()></label>*@


                    @if (Session["UserName"] != null)
                    {
                        @Session["UserName"].ToString()
                        <input type="hidden" name="comment.Name" value=@Session["UserName"].ToString()/>
                        @*<label style="color:brown;" name="comment.Name" value=@Session["UserName"].ToString() > </label>*@
                    }
                    else
                    {
                        @*@("Name :")   <input type="text" name="comment.Name" />*@
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="first_name" type="text" class="validate" name="Comment.Name" style="text-align: right;" required>
                                <label class="right-align"> الاسم </label>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="first_name" type="text" class="validate" name="Comment.comment" style="text-align: right;" required>
                            <label class="right-align"> التعليق </label>
                        </div>
                    </div>
                    @*<input type="text" name="comment.Comment" />*@
                    @*<input type="submit" value="تعليق" />*@
                    <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">تعليق </button>

                </form>

                <br/>

            </div>
            <hr/>

            <br/>
        }
    </div>
</div>
    <div style="margin-bottom: 150px;" ></div>