@model IEnumerable<BloodBankITI.Models.PostsComments>
@{
    ViewBag.Title = "WallPosts";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>WallPosts</h2>

@foreach (var post in Model)
{
    <div id="post">
        <h4>@post.post.Name  @Html.ActionLink(@post.post.Insert_date.Value.ToString("dd/MMM"), "GetPostByID", new { id = post.post.PID })</h4>

        <h5>@post.post.Post</h5>
    </div>
    <div class="fb-share-button" data-href="http://localhost:7508/home/GetPostByID/1" data-layout="button_count" data-mobile-iframe="false"></div>
    <div id="Comments">
         @foreach (var comment in post.comments)
        {
        <h6>@comment.Name</h6>
        <h6>@comment.Comment</h6>
        }
    </div>

        <div id="insertComment">
            <h6>Insert Comment</h6>
            <form action="InsertComment" method="post">

                <input type="hidden" name="comment.Post_ID" value=@post.post.PID.ToString()>

                @if (Session["UserName"] != null)
                {
                    @Session["UserName"].ToString()
                    <input type="hidden" name="comment.Name" value=@Session["UserName"].ToString() />
                }
                else
                {
                    @("Name :")   <input type="text" name="comment.Name" />
                }
                <input type="text" name="comment.Comment" />
                <input type="submit" value="Insert" />
            </form>

        </div>



}

