@model BloodBankITI.Models.NgoUpdate
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Edit</h2>


<form action="" method="post" novalidate="novalidate">
    <div class="form-group">
   
        <input type="hidden" name="ngo.NID" value=@Model.ngo.NID>
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(p => p.ngo.Name)

        <input type="text" name="ngo.Name" value=@Model.ngo.Name >
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(p => p.ngo.Phone)
      
        <input type="text" name="ngo.Phone" value=@Model.ngo.Phone/>
    </div>
   
    <div class="form-group">
        @Html.LabelFor(model => model.ngo.CID, new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <select name="ngo.CID" id="CitiesID">
                
                @foreach (var item in Model.CitiesSelectAllResults)
                {

                    <option value="0">Not Set</option>
                    if (item.CID == Model.ngo.CID)
                    {
                        <option value=@item.CID selected>@item.CityName</option>
                    }
                    else
                    {
                        <option value=@item.CID >@item.CityName</option>
                    }
                }
            </select>

            @Html.ValidationMessageFor(model => model.ngo.CID)
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(p => p.ngo.Address)
        <input type="text" name="ngo.Address" value=@Model.ngo.Address/>
    </div>

    <div>
        <input type="submit" value="submit" />
    </div>
</form>