@model BloodBankITI.Models.NGO_selectByID_Result
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />

<div class="render">
    <h4> جمعية صناع الحياة بالإسماعيلية</h4>
    <hr />
    <div class="ngodata" style="width:350px;float:right;">
        <label>الاســــــــــــم</label><br />
        <p>@Model.Name</p>
        <br />
        <label>العنــــــــــوان</label><br />
        <p>@Model.Address</p>
        <br />
        <label>رقم الهـــاتف</label><br />
        <p>@Model.Phone</p>
        <br />
        <label> المدينـــــــــة </label><br />
        <p>@Model.CityName</p>
    </div>
    <div style="float:left;"> 
        <a href="http://www.lifemakers.org/">
            <img src="~/img/download.jpg" style="padding-left:50px;" />
        </a>
    </div>
    <br /><br /><br /><br />
    <center style="padding:220px;">
        @Html.ActionLink("تعديل", "Edit", new { id = Model.NID }, new { @class = "btn waves-effect waves-light red darken-4" })
    </center>
    <div style="margin-left:100px; margin-top:-330px;">
        <a href=@Model.Fb style="text-decoration:none;">
            <img src="~/img/facebook-logo.png" />
        </a>
        <a href=@Model.Website style="text-decoration:none;">
            <img src="~/img/domain.png"  />
        </a>
    </div>
    <br /><br /><br /><br />

  </div>


