@model BloodBankITI.Models.NGO_selectByID_Result
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="render">
    <h1><em>الجمعيات الخيرية </em></h1>
    <hr />
    <div style="float:right;">
        <label>الاســــــــــــم</label><br />
        <p style="color:darkmagenta;"> @Html.DisplayFor(N => N.Name) </p><br />
        <label>العنــــــــوان</label><br />
        <p>@Html.DisplayFor(N => N.Address)</p><br />
        <label>رقم الهـــاتف</label><br />
        <p> @Html.DisplayFor(N => N.Phone)</p> <br />
        <label> المدينـــــــــة </label><br />
        <p>@Html.DisplayFor(N => N.CityName)</p><br />
    </div>
    <div class="ngo" style="float:left;"> 
        <a href="http://www.lifemakers.org/">
            <img src="~/img/download.jpg" style="padding-left:50px;" />
        </a>
    </div>
    @*<ul>
        <li>
            <input type="checkbox" checked>
            <i></i>
            <h3> الاســــــــــــم</h3>
            <p> @Html.DisplayFor(N => N.Name)</p>
        </li>
        <li>
            <input type="checkbox" checked>
            <i></i>
            <h3>العنـــــــــوان </h3>
            <p>
               @Html.DisplayFor(N => N.Address)
            </p>
        </li>
        <li>
            <input type="checkbox" checked>
            <i></i>
            <h3>رقــم الهــاتف</h3>
            @Html.DisplayFor(N => N.Phone)
        </li>
        <li>
            <input type="checkbox" checked>
            <i></i>
            <h3> المدينــــــــــة</h3>
            <p> @Html.DisplayFor(N => N.CityName)</p>
        </li>
    </ul>*@


</div>