@model BloodBankITI.Models.NGO_selectByID_Result

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

Name : @Html.DisplayFor(N => N.Name)
Address : @Html.DisplayFor(N => N.Address)
Phone : @Html.DisplayFor(N => N.Phone)
City Name  : @Html.DisplayFor(N => N.CityName)

@Html.ActionLink("Edit Profile","Edit",new {id = Model.NID })


