<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="keywords" content="blood, donation, egypt, help, needed,  دم، تبرع، مصر,دمك,حياة">
    <meta property="og:keywords" content="blood, donation, egypt, help, needed,  دم، تبرع، مصر,دمك,حياة">


    <title>damak 7ayah دمك حياة</title>
    <!-- Bootstrap Core CSS -->
    <link rel="icon" href="~/img/blood.png">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/stylish-portfolio.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Compiled and minified CSS -->
    @*<link href="~/Content/materialize.min.css" rel="stylesheet" />*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />

</head>
<body>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '247072542325141',
                xfbml: true,
                version: 'v2.6'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Navigation -->

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="padding: 8px 0px 0px 0px;margin-right: -130px;">×</a>
        <a href="/home/index"> الصفحة الرئيسية</a>
        @if (Session["UserId"] != null && Session["UserName"] != null)
        {
            switch (Session["UserType"].ToString())
            {
                case "1":
                    <a href="/admin/index">   لوحة التحكم  </a>
                    break;
                case "2":
                <a href="/donor/Index"> لوحة التحكم  </a>
                    break;
                case "3":
                <a href="/ngo/index">  لوحة التحكم </a>
                    break;
                case "4":
                <a href="/partner/index"> لوحة التحكم </a>
                    break;
            }
        }
        <a href="/home/emergencytoday">الطوارئ النهارده</a>
        <a href="/home/Donate">  عايز أتبرع  </a>
        <a href="/home/askforblood">محتاج دم </a>
        <a href="/home/wallposts">    المشاركات والتعليقات </a>
        <a href="/home/NGOs"> الجمعيات الخيرية </a>
        <a href="/home/info"> معلومات عن التبرع  </a>
        <a href="/home/about"> ازاي أستخدم الموقع؟  </a>
        <a href="/home/contact">تواصل معنا   </a>
        @if (Session["UserId"] != null && Session["UserName"] != null)
        {
            <a href="/home/Logout">تسجيل الخروج  </a>

        }
    </div>

    <div id="main">
        @*<span style="font-size:30px;cursor:pointer" onclick="openNav()">☰ open</span>*@
        <a href="#" class="btn btn-dark btn-lg toggle" onclick="openNav()" style="float:right;color:black"> القائمة  <i class="fa fa-bars"></i></a>
    </div>

    @RenderBody()

    <!-- Footer -->
    <footer>
        <div class="icons center-block">
            <span class="fa fa-facebook fa-2x"></span>
            <span class="fa fa-twitter fa-2x"></span>
            <span class="fa fa-youtube fa-2x"></span>
            <br><br>
            <h6>Copyright @@2016 www.damak7ayah.com. All rights reserved.</h6>
            <br><br>
        </div>
    </footer>
    <!-- jQuery -->

    <script src="~/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="~/js/bootstrap.min.js"></script>
    <!-- Custom Theme JavaScript -->
    @*<script src="~/js/materialize.min.js"></script>*@
    <!-- Compiled and minified JavaScript -->
    @*<script src="~/js/forms.js"></script>*@
    <script>
        // Closes the sidebar menu
        //$("#menu-close").click(function(e) {
        //    e.preventDefault();
        //    $("#sidebar-wrapper").toggleClass("active");
        //});

        //// Opens the sidebar menu
        //$("#menu-toggle").click(function(e) {
        //    e.preventDefault();
        //    $("#sidebar-wrapper").toggleClass("active");
        //});

        function openNav() {
            document.getElementById("mySidenav").style.width = "200px";
            document.getElementById("main").style.marginLeft = "200px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }

        // Scrolls to the selected menu item on the page
        //$(function() {
        //    $('a[href*=#]:not([href=#])').click(function() {
        //        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
        //            var target = $(this.hash);
        //            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        //            if (target.length) {
        //                $('html,body').animate({
        //                    scrollTop: target.offset().top
        //                }, 1000);
        //                return false;
        //            }
        //        }
        //    });
        //});
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>

</body>
</html>
