@model BloodBankITI.Models.donor_SelectByDID_Result

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Profile</h2>

Name: @(Model.Fname + " " + Model.Lname) <br/>

Gender: @Model.DonorGender <br/>

@if (Model.DonationDate != null)
{
    @("Last Donation Date:") @Model.DonationDate <br/>
}

Blood Type: @Model.Type <br/>

City: @Model.CityName <br/>

Location: @Model.LocationName <br/>

Phone: @Model.Phone <br/>

@Html.ActionLink("Edit Profile", "UpdateProfile", new {id=Model.DID}) <br/>
@if (Model.DonationDate == null)
{
    <form action="" method="POST">
        <input type="hidden" value="@Model.DID" name="id"/>
        <input type="submit" value="I Donated Today"/>
    </form>
}



