@model BloodBankITI.Models.donorCityBlood

@{
    ViewBag.Title = "Update Profile";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<head>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>
<br /><br /><br />
@if (Session["UserId"] == null && Session["UserName"] == null)
            {
    <form style="margin-left:10px; margin-top:-35px;">
        <a href="/Login/Index" style="text-decoration:none;">
            <img src="~/img/signin.png" height="30" width="30" title="تسجيل الدخول" />

        </a>
        &nbsp;
        <a href="/Home/Register" style="text-decoration:none;">
            <img src="~/img/add-user.png" height="35" width="35" title="إنشاء حساب" />

        </a>
    </form>
}
else
{
    switch (Session["UserType"].ToString())
    {
        case "1":

            <a href="/home/logout" class="user" style="text-decoration:none;color:black;font-size:20px;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" />
            </a>
            <a href="/admin/index" class="user" style="text-decoration:none;color:black;font-size:20px;">
                @(Session["Fname"] + " " + Session["Lname"])
            </a>
            break;
        case "2":
            <a href="/home/logout" class="user" style="text-decoration:none;color:black;font-size:20px;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" />
            </a>
            <a href="/donor/Index" class="user" style="text-decoration:none;color:black;font-size:20px;">
                @(Session["Fname"] + " " + Session["Lname"])
            </a>
            break;
        case "3":

            <a href="/home/logout" class="user" style="text-decoration:none;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" />
            </a>
            <a href="/ngo/index" class="user" style="text-decoration:none;color:black;font-size:20px;">   @(Session["Fname"])  </a>

            break;
        case "4":

            <a href="/home/logout" class="user" style="text-decoration:none;">
                <img src="~/img/logout.png" width="35" height="35" title="تسجيل الخروج" />
            </a>
            <a href="/partner/index" class="user" style="text-decoration:none;color:black;font-size:20px;"> @(Session["Fname"]) </a>

            break;
    }
}
<link href="~/Content/materialize.css" rel="stylesheet" />
<div class="render">
    <div class="container white z-depth-2" style="height:auto;">
        <div class="card-panel red darken-4"><h5 > تعديل بيانات المتبرع </h5></div>
        <div id="register">
            <form class="col s12" action="" method="post">
                <div class="form-container">
                    <div class="row">
                        <input type="hidden" value=@Model.Donor.DID name="Donor.DID" />
                        <input type="hidden" value=@Model.Donor.DonationDate name="Donor.DonationDate" />
                        <input type="hidden" value=@Model.Donor.DonorGender name="Donor.DonorGender" />
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input required id="first_name" type="text" value= @Model.Donor.Fname name="Donor.Fname" class="validate" />
                            <label class="right-align" for="first_name">الاسم الأول </label>
                            @Html.ValidationMessageFor(a => a.Donor.Fname, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="last_name" required class="validate" type="text" value= @Model.Donor.Lname name="Donor.Lname" />
                            <label class="right-align" for="last_name">الاسم الأخير </label>
                            @Html.ValidationMessageFor(a => a.Donor.Lname, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <input value="male" type="hidden" name="Donor.DonorGender">
                            <input value="female" type="hidden" name="Donor.DonorGender">
                            <label> النوع</label>
                            <input disabled value=@Model.Donor.DonorGender id="disabled" type="text" name="Donor.DonorGender" style="text-align:left">
                        </div>
                    </div>
                    @*<div class="row" style="float:right;">
                        <div class="input-field col s12">
                            <div style="float:right; margin-right:52px;">
                                @if (Model.Donor.DonorGender == "male")
                                {
                                    <input class="with-gap" type="radio" name="Donor.DonorGender" id="Male" value="male" checked /><label for="Male">ذكر</label>
                                    <input  type="radio" class="with-gap" name="Donor.DonorGender" id="Female"value="female" /><label for="Female">أنثى</label>
                                }

                                @if (Model.Donor.DonorGender == "female")
                                {
                                    <input type="radio" class="with-gap" name="Donor.DonorGender" id="Male" value="male" /><label for="Male">ذكر</label>
                                    <input class="with-gap" type="radio" name="Donor.DonorGender" value="female" checked /><label for="Female">أنثى</label>
                                }
                                
                            </div>
                            <label class="right-align">النوع </label>
                        </div>
                    </div>*@

                    <div class="row">
                        <div class="input-field col s12">
                            @*<label for="CitiesID" style="text-align:right; width:460px;">فصيلة الدم</label>
                            <label name="Donor.BID" value=@Model.Donor.BID></label>*@


                            <input value=@Model.Donor.BID type="hidden" name="Donor.BID" >
                            <input value=@Model.Donor.DID type="hidden" name="Donor.DID" >
                            <label>فصيلة الدم </label>
                            <input disabled value=@Model.Donor.Type id="disabled" type="text" name="Donor.DID" style="text-align:left">
                        </div>
                   </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <div class="mdl-select mdl-js-select mdl-select--floating-label">
                                <label for="CitiesID" style="text-align:right;margin-right:-150px;">المدينة</label>
                            </div>
                            <div dir="rtl">
                                <select required class="mdl-select__input" name="Donor.CID" id="CitiesID">
                                    @foreach (var item in Model.CitiesSelectAllResults)
                                    {
                                        if (Model.Donor.CID == item.CID)
                                        {
                                            <option selected="" value=@item.CID>@item.CityName</option>
                                        }
                                        else
                                        {
                                            <option value=@item.CID>@item.CityName</option>
                                        }
                                    }
                                </select>
                                @Html.ValidationMessageFor(a => a.Donor.CID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 ">
                            <div class="mdl-select mdl-js-select mdl-select--floating-label">
                                <label for="LID" required style="text-align:right; margin-right:-150px;">المنطقة</label>
                            </div>
                            <div dir="rtl">
                                <select class="mdl-select__input" name="Donor.LID" id="locationID">
                                    @foreach (var item in Model.Locations)
                                    {
                                        if (Model.Donor.LID == item.LID)
                                        {
                                            <option selected="" value=@item.LID>@item.LocationName</option>
                                        }
                                        else
                                        {
                                            <option value=@item.LID>@item.LocationName</option>
                                        }
                                    }
                                </select>
                                @Html.ValidationMessageFor(a => a.Donor.LID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="number" required value= @Model.Donor.Phone name="Donor.Phone" class="validate"  />
                            <label class="right-align" for="Phone"> رقم التلفون </label>
                            @Html.ValidationMessageFor(a => a.Donor.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="row">
                        <div class="input-field col s12">
                            <input value=@Model.Donor.Username type="hidden" name="donor.Username">
                            <label> اسم المستخدم</label>
                            <input disabled value=@Model.Donor.Username id="disabled" type="text" name="Donor.Username" style="text-align:left">
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" name="donor.password" id="password1" value=@Model.Donor.Password />
                            <label class="right-align">كلمة المرور </label>
                            @Html.ValidationMessageFor(a => a.Donor.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" name="donor.password" id="password2" required oninput="check()" value=@Model.Donor.Password /> 
                                <label class="right-align">إعادة كلمة المرور </label>
                            @Html.ValidationMessageFor(a => a.Donor.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <center>
                        <button class="btn waves-effect waves-light red darken-4" required type="submit" name="action">موافق</button>
                        @Html.ActionLink("الرجوع للوحة التحكم", "Index", null, new { @class = "btn waves-effect waves-light red darken-4" })
                    </center>
                    </div>
                </form>
                </div>
        </div>
    </div>



    <script>

        function check() {
            if ($('#password2').val() != $('#password1').val()) {
                $('#PasswordMessage').text( "Doesn't Match");


            } else
                $('#PasswordMessage').text( "done");

        };


            //Cities & Location
            $('#CitiesID').change(function () {
                $('#locationID').html("");
                var CityID = $('#CitiesID').val();
                $.ajax({
                    url: 'http://www.bloodservice.somee.com/Home/LocationByCID/' + CityID,
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {

                        WriteResponse(data);
                    },
                    error: function(e) {
                        alert(e.statusText);
                    }
                });
            });

        var model = @Html.Encode(Json.Encode(Model.Donor.LID))
        function WriteResponse(data) {
            var result;
            $.each(data, function (index, locations) {
                if (locations.LID == model) {
                    result += "<option selected value=" + locations.LID + ">" + locations.LocationName + "</option>";
                }
                else
                {
                    result += "<option value=" + locations.LID + ">" + locations.LocationName + "</option>";
                }
            });
            $('#locationID').html(result);

        }
    </script>
    


