@model BloodBankITI.Models.donorCityBlood

@{
    ViewBag.Title = "Update Profile";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<head>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>

<h2>Update Profile</h2>

<form action="" method="POST">
    <div class="form-group">
        <input type="hidden" value="@Model.Donor.DID" name="Donor.DID" />
        <input type="hidden" value="@Model.Donor.DonationDate" name="Donor.DonationDate" />
        <input type="hidden" value="@Model.Donor.DonorGender" name="Donor.DonorGender" />
    </div>

    <div class="form-group">
        <label>First Name: </label><input type="text" value="@Model.Donor.Fname" name="Donor.Fname"/>
    </div>

    <div class="form-group">
        <label>Last Name: </label><input type="text" value="@Model.Donor.Lname" name="Donor.Lname"/>
    </div>

    <div class="form-group">
        <label>Gender: </label>
        @if (Model.Donor.DonorGender == "male")
        {
            <input type="radio" name="Donor.DonorGender" value="male" checked/>@("Male   ")
            <input type="radio" name="Donor.DonorGender" value="female"/>@("Female")
        }

        @if (Model.Donor.DonorGender == "female")
        {
            <input type="radio" name="Donor.DonorGender" value="male"/>@("Male   ")
            <input type="radio" name="Donor.DonorGender" value="female" checked/>@("Female")
        }
    </div>
    
    <div class="form-group">
        <label>Blood Type: </label>
        <select name="Donor.BID">
            @foreach (var item in Model.BloodTypesResults)
            {
                <option value=@item.BID>@item.Type</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>City: </label>
        <select name="Donor.CID" id="CitiesID">
            @foreach (var item in Model.CitiesSelectAllResults)
            {
                if (Model.Donor.CID == item.CID)
                { 
                   <option selected="" value=@item.CID>@item.CityName</option>
                }
                else
                {
                    <option value=@item.CID>@item.CityName</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Location:</label>
        <select name="Donor.LID" id="locationID">
            @foreach (var item in Model.Locations)
            {
                if (Model.Donor.LID == item.LID)
                {
                    <option selected="" value=@item.LID>@item.LocationName</option>
                }
                else
                {
                    <option value=@item.LID>@item.LocationName</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Phone: </label><input type="number" value="@Model.Donor.Phone" name="Donor.Phone"/>
    </div>
    
    <div class="form-group">
        <label> PassWord:</label> <input  type="password" name="donor.password" id="password1" />
    </div>
    <div class="form-group">
        <label> Confirm Password:</label> <input type="password" name="donor.password" id="password2" oninput="check()" /> <label id="PasswordMessage"></label>
    </div>
    <input type="submit" value="Save"/>

    <script>

        function check() {
            if ($('#password2').val() != $('#password1').val()) {
                $('#PasswordMessage').text( "Doesn't Match");


            } else
                $('#PasswordMessage').text( "done");

        };
















            //Cities & Location
            $('#CitiesID').change(function () {
                $('#locationID').html("");
                var CityID = $('#CitiesID').val();
                $.ajax({
                    url: 'http://www.bloodservice.somee.com/Home/LocationByCID/' + CityID,
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {

                        WriteResponse(data);
                    },
                    error: function(e) {
                        alert(e.statusText);
                    }
                });
            });

        var model = @Html.Encode(Json.Encode(Model.Donor.LID));
        function WriteResponse(data) {
            var result;
            $.each(data, function (index, locations) {
                if (locations.LID == model) {
                    result += "<option selected value=" + locations.LID + ">" + locations.LocationName + "</option>";
                }
                else
                {
                    result += "<option value=" + locations.LID + ">" + locations.LocationName + "</option>";
                }
            });
            $('#locationID').html(result);

        }
    </script>
    

</form>

@Html.ActionLink("Back", "Index")