@model BloodBankITI.Models.donorCityBlood

@{
    ViewBag.Title = "Update Profile";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />
<head>
    <!-- Material Design Lite -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="~/Scripts/FormsDropDwon.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>


</head>

<div class="render" style="height:1000px;" >
    <div class="container white z-depth-2" style="height:auto;">
        <div class="card-panel red darken-4"><h6> لو عايز تتبرع </h6></div>
        <div id="register" class="col s12">
            <form class="col s12" action="" method="post">
                <div class="form-container">
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="hidden" value="@Model.Donor.DID" name="Donor.DID" style="text-align:right">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate" value="@Model.Donor.Lname" name="Donor.Lname" style="text-align:right">
                            <label class="right-align"  style="text-align:right;" for="Donor.Lname"> الاسم الاخير </label>
                        </div>
                        <div class="input-field col s6">
                            <input id="first_name" type="text" class="validate" value="@Model.Donor.Fname" name="Donor.Fname" style="text-align:right">
                            <label class="right-align" style="text-align:right;" for="Donor.Fname">الاسم الاول </label>
                        </div>
                    </div>
                    <div class="row" style="float:right;">
                        <div class="input-field col s12">
                            <div style="float:right; position:relative; margin-right:52px;">
                                <label class="right-align" style="float:right;">النوع</label>
                            </div>
                            <br />
                            <p>
                                <input class="with-gap" name="DonorGender" type="radio" id="Male" />
                                <label for="Male">ذكر</label>
                            </p>
                            <p>
                                <input class="with-gap" name="DonorGender" type="radio" id="Female" />
                                <label for="Female">أنثى</label>
                            </p>
                                @*<label>النوع</label>
                                @if (Model.Donor.DonorGender == "male")
                                {
                                    <input class="with-gap" type="radio" name="Donor.DonorGender" value="male" checked />@("Male   ")
                                    <input class="with-gap" type="radio" name="Donor.DonorGender" value="female" />@("Female")
                                }

                                @if (Model.Donor.DonorGender == "female")
                                {
                                    <input class="with-gap" type="radio" name="Donor.DonorGender" value="male" />@("Male   ")
                                    <input class="with-gap" type="radio" name="Donor.DonorGender" value="female" checked />@("Female")
                                }*@
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <div class="mdl-select mdl-js-select mdl-select--floating-label">
                                <label for="CitiesID" style="text-align:right; width:460px;">فصيلة الدم</label>
                            </div>

                            <br />
                            <br />
                            <div dir="rtl">
                                <select class="mdl-select__input" id="professsion" name="Donor.BID">
                                    @foreach (var item in Model.BloodTypesResults)
                                    {

                                        <option value=@item.BID>@item.Type</option>
                                    }

                                </select>
                            </div>
                        </div>

                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <div class="mdl-select mdl-js-select mdl-select--floating-label">
                                <label for="CitiesID" style="text-align:right; width:460px;">المدينة</label>
                            </div>

                            <br />
                            <br />
                            <div dir="rtl">
                                <select class="mdl-select__input" name="Donor.CID" id="CitiesID">

                                    @foreach (var item in Model.CitiesSelectAllResults)
                                    {
                                        <option value="0">Not Set</option>
                                                <option value=@item.CID>@item.CityName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 ">
                            <div class="mdl-select mdl-js-select mdl-select--floating-label">
                                <label for="LID" style="text-align:right; width:460px;">المنطقة</label>
                            </div>
                            <div dir="rtl">
                                <select class="mdl-select__input" name="Donor.LID" id="locationID">
                                    <option> </option>
                                </select>
                            </div>
                            @Html.ValidationMessageFor(model => model.Donor.LID)
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="number" value="@Model.Donor.Phone" name="Donor.Phone" class="validate" style="text-align:right;" />
                            <label class="right-align" for="Phone"> رقم التلفون </label>
                        </div>
                    </div>
                    <center>
                        <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">حفظ</button>
                    </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
 <script>
                                $('#CitiesID').change(function () {
                                    var CityID = $('#CitiesID').val();
                                    $.ajax({
                                        url: 'http://www.bloodservice.somee.com/Home/LocationByCID/' + CityID,
                                        type: 'GET',
                                        dataType: 'json',
                                        success: function (data) {

                                            WriteResponse(data);
                                        },
                                        error: function (e) {
                                            alert(e.statusText);
                                        }
                                    });
                                });

                                function WriteResponse(data) {
                                    var result;
                                    $.each(data, function (index, locations) {
                                        result += "<option value=" + locations.LID + ">" + locations.LocationName + "</option>";
                                    });
                                    $('#locationID').html(result);

                                }
                            </script>

@Html.ActionLink("Back", "Index", new {id=Model.Donor.DID})