@model BloodBankITI.Models.donor_SelectByDID_Result
@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>ViewProfile</h2>

Name: @(Model.Fname + " " + Model.Lname) <br />

Gender: @Model.DonorGender <br />

@if (Model.DonationDate != null)
{
    @("Last Donation Date:") @Model.DonationDate <br />
}

Blood Type: @Model.Type <br />

City: @Model.CityName <br />

Location: @Model.LocationName <br />

Phone: @Model.Phone <br />

@Html.ActionLink("Edit Profile", "UpdateProfile") <br />
@if (Model.DonationDate == null)
{
    using (Html.BeginForm("UpdateDonationDate", "Donor", FormMethod.Post, new { id = @Model.DID }))
    {
        <input type="hidden" value=@Model.DID name="Donor.DID" />
        <input type="submit" value="I Donated Today" />
    }
}



