@model BloodBankITI.Models.Login
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/materialize.css" rel="stylesheet" />


<div class="render">
    <h2><em> تسجيل الدخول</em></h2>
    <div class="login">
        <div class="row">
            <div class="col-lg-8 text-center">
                <div id="loginForm">
                    @*@using (Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))*@
                      @* { *@
                    <form action="" method="post">
                        <hr />
                        @Html.ValidationSummary(true)
                        <div class="form-group text-center">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                            @*<label class="col-md-2 control-label"> اسم_المستخدم</label>*@
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                        </div>
                        <div class="form-group  text-center">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            @*<label class="col-md-2 control-label"> كلمة_المرور</label>*@
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>

                        <div class="form-group  text-center">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="دخول" class="btn btn-default" />
                            </div>
                        </div>
                        </form>
                    @* } *@
                </div>
            </div>
        </div>
    </div>

   </div>